---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Aktuelles"
---
<BaseLayout pageTitle={pageTitle}>
  <p>Hier erfahrt ihr alles Aktuelle rund um unsere Apotheken.</p>
  <ul>
    <li><a href="/posts/post-1">Beitrag 1</a></li>
    <li><a href="/posts/post-2">Beitrag 2</a></li>
    <li><a href="/posts/post-3">Beitrag 3</a></li>
  </ul>
</BaseLayout>